@model List<CyberU.Models.Breach>
@{
    ViewData["Title"] = "Admin";
}

<section class="section-padding gray-bg">

    <section class="section-padding">
    </section>
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="about-logo">
                    <h3>Stay <span class="color">up-to-date</span> on the latest breaches</h3>
                    <p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>

                </div>
            </div>
        </div>

        <div class="about">

            <a class="btn btn-primary waves-effect waves-dark pull-right" asp-action="AdminEdit">Add New Breach</a>
            <div class="row">

                <div class="col-md-6">
                    <div class="block-heading-two">
                        <h3><span>Latest breaches</span></h3>
                    </div>
                    <!-- Accordion starts -->
                    <div class="panel-group" id="accordion-alt3">
                        @if (Model != null)
                        {
                            if (Model.Count == 0)
                            {
                                <h3>No breaches in the DB!</h3>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <div class="panel">
                                        <!-- Panel heading -->
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                                                    <i class="fa fa-angle-right"></i>@item.Name – @item.NumberAffected
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseOne-alt3" class="panel-collapse collapse">
                                            <!-- Panel body -->
                                            <div class="panel-body">
                                                @item.Description
                                                <br /><br />
                                                <a href="@item.URL" class="btn btn-primary waves-effect waves-dark">Learn more</a>
                                                <a asp-action="AdminEdit" asp-route-id="@item.Id" class="btn btn-primary waves-effect waves-dark">Edit</a>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                        }
                    </div>
                    <!-- Accordion ends -->

                </div>

            </div>

        </div>
    </div>
</section>

